consumer_key: {{ env['TWITTER_CONSUMER_KEY'] }}
consumer_secret: {{ env['TWIITER_CONSUMER_SECRET'] }}
access_token: {{ env['TWITTER_ACCESS_TOKEN'] }}
access_secret: {{ env['TWITTER_ACCESS_SECRET'] }}
dm_removals: true
dm_target: {{ env['TWITTER_DM_TARGET'] }}
cache_file: cache.json
